3d_env/
ddd_frontend/node_modules/
backend/db.sqlite3
backend/user/migrations/
backend/quiz/migrations/
backend/forum/migrations/
backend/user/migrations/__pycache__
backend/quiz/migrations/__pycache__
backend/forum/migrations/__pycache__